@import "reset.scss";
@import "font.scss";

$color-b: #000000;
$color-w: #ffffff;
$color-f: #6667ab;
$fw400: 400;
$fw600: 600;
$fw700: 700;
$fz12: 12px;
$fz14: 14px;
$fz16: 16px;
$fz20: 20px;
$fz24: 24px;
$fz32: 32px;

%h1 {
	font-size: $fz32;
	line-height: 44px;
}
%h2 {
	font-size: $fz24;
	line-height: 32px;
}
%h3 {
	font-size: $fz20;
	line-height: 28px;
}
%txt-big {
	font-size: $fz16;
	line-height: 24px;
}
%txt {
	font-size: $fz14;
	line-height: 22px;
}
%txt-small {
	font-size: $fz12;
	line-height: 20px;
}
body {
	@extend %txt;
	font-family: "RF Dewi";
	color: $color-b;
	background-color: $color-w;
	font-weight: $fw400;
	font-style: normal;
	min-width: 360px;
}
img,
.btn {
	width: 100%;
}
h1 {
	@extend %h1;
}
h2 {
	@extend %h2;
}
h3 {
	@extend %h3;
}
h4 {
	@extend %txt-big;
}
p {
	@extend %txt;
}
h6 {
	@extend %txt-small;
}
.btn {
	font-family: "RF Dewi";
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	width: 100%;
	@extend %txt;
	font-weight: $fw700;
	border-radius: 4px;
	cursor: pointer;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0px 20px;
	height: 100%;
}

//header
.header-menu {
	display: flex;
	align-items: center;
	padding: 8px 0;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	display: block;
	img {
		width: 159px;
	}
}
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.nav-menu {
	display: flex;
	align-items: center;
	margin: 0 34px;
}
.nav-menu__item {
	margin: 0 8px;
	.language__ch {
		font-size: $fz16;
		line-height: 22px;
		font-weight: $fw600;
	}
	.nav-menu__link {
		display: flex;
		align-items: center;
		color: $color-b;
		@extend %txt-big;
		line-height: 22px;
		font-weight: $fw600;
		padding: 16px;
	}
	ul {
		display: none;
		position: absolute;
		z-index: 2;
		top: 0;
		padding-top: 50px;
		cursor: pointer;
		li {
			color: $color-w;
			background: $color-b;
			@extend %txt;
			border-radius: 4px;
			padding: 14px;
			cursor: pointer;
			a {
				color: $color-w;
			}
			&:hover {
				background: #4f4599;
			}
		}
	}
	&:hover {
		.icon-u_angle-down {
			transform: rotate(-180deg);
		}
		ul {
			display: block;
		}
	}
}
.right-menu {
	margin: 0;
	.nav-menu__item {
		display: flex;
		align-items: center;
		margin: 0;
		&:last-child a {
			padding-right: 0;
		}
	}
}
.language-m {
	display: none;
}
.icon-u_favorite,
.icon-u_user-circle,
.icon-u_angle-down {
	font-size: $fz24;
}
.icon-u_user-circle {
	margin-right: 6px;
}
.icon-u_angle-down {
	margin-left: 4px;
}
.header-search {
	padding: 20px 0;
}
.form-search {
	display: flex;
	position: relative;
	&::before {
		content: "\e928";
		color: #a9a9a9;
		position: absolute;
		left: 22px;
		top: 50%;
		transform: translate(0, -50%);
		font-size: $fz20;
	}
	input[type="text"]::placeholder {
		color: #a9a9a9;
		font-weight: $fw600;
	}
}
input[type="text"] {
	@extend %txt-big;
	font-family: "RF Dewi";
	line-height: 22px;
	padding: 13px 12px 13px 56px;
	margin: 0;
	border: none;
	background: #f5f5f5;
	width: 100%;
	font-weight: $fw600;
}
.btn-seacrh {
	max-width: 200px;
	line-height: 20px;
	background: $color-f;
	color: $color-w;
	padding: 14px;
	&:hover {
		background: #4f4599;
	}
}

//breadcrumb
.breadcrumb {
	margin: 8px 0 0 0;
}
.breadcrumb-wrap {
	@extend %txt-small;
	line-height: 16px;
	font-weight: $fw600;
	list-style: unset;
	display: inline-flex;
	color: $color-f;
	padding: 4px;
	li {
		display: inline-flex;
		align-items: center;
		line-height: 17px;
		padding-right: 24px;
		position: relative;
		&:last-child {
			padding-right: 0;
		}
		&::after {
			content: "\e910";
			font-family: "hapai";
			position: absolute;
			top: 50%;
			right: 4px;
			transform: translate(0, -50%) rotate(-90deg);
			font-size: $fz16;
			color: #a9a9a9;
		}
		&:last-child::after {
			display: none;
		}
	}
	.icon-u_home-alt {
		font-size: $fz16;
		color: $color-f;
	}
	.icon-u_angle-down {
		font-size: $fz16;
		transform: rotate(-90deg);
	}
	span {
		@extend %txt-small;
		line-height: 16px;
	}
}

//title-item
.title-item {
	margin: 0 0 8px 0;
}
.title-item__b {
	position: relative;
	h1 {
		@extend %h1;
		padding-right: 60px;
	}
	h3 {
		@extend %h3;
		position: absolute;
		right: 0;
		bottom: 0;
		line-height: 26px;
		color: #a9a9a9;
	}
	.btn-favor {
		bottom: 0;
		margin: 4px;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		right: 0;
	}
}

//auction-section
.auction-wrapper {
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	border-top: 1px solid #e5e5e5;
}

//filter-result
.filter-result-txt {
	font-weight: $fw400;
	@extend %txt;
	padding-top: 20px;
}
.filter-result {
	display: flex;
	.btn {
		display: none;
	}
}
.filter-result-v {
	flex: 2;
}
.filter-sort-box {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	.ui-selectmenu-button {
		width: 100%;
		height: auto;
		margin: 0;
		background: $color-w;
		padding: 12px;
		&:hover,
		&:focus {
			background: $color-f;
			.ui-selectmenu-text {
				&::after {
					color: $color-w;
				}
			}
		}
	}
}
.ui-menu .ui-menu-item-wrapper {
	position: relative;
	padding: 12px;
	font-size: $fz14;
	line-height: 17px;
}
.ui-selectmenu-text {
	position: relative;
	padding-right: 24px;
	margin: 0;
	font-size: $fz14;
	&::after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		content: "\e910";
		font-family: "hapai";
		font-size: $fz24;
		color: $color-f;
	}
}
.sort-items {
	max-width: 200px;
	width: 100%;
	font-size: $fz14;
}
.sort-mode {
	margin-right: 8px;
	max-width: 150px;
	width: 100%;
}
.ui-icon-triangle-1-s {
	display: none;
}
.filter-tags {
	display: inline-block;
}
.r-f-tags {
	display: inline-block;
	font-weight: $fw600;
	@extend %txt;
	color: $color-b;
	padding: 8px 12px;
	background: $color-w;
	border: 1px solid #e5e5e5;
	border-radius: 24px;
	margin: 8px 8px 0 0;
	position: relative;
	span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		cursor: pointer;
	}
	&::after {
		content: "\e90e";
		font-family: "hapai";
		text-align: center;
		font-size: $fz16;
		margin-left: 4px;
		color: #d45279;
	}
}

//a-sidebar filter
.a-sidebar {
	width: 100%;
	height: 100%;
	min-width: 300px;
	max-width: 300px;
	border-right: 1px solid #e5e5e5;
}
.a-filter {
	padding: 20px 20px 0 0;
	.f-checkbox {
		label {
			border: 0;
			background: transparent;
			font-weight: $fw600;
			color: $color-b;
			box-shadow: none;
			padding: 8px 8px 8px 0;
			display: flex;
			text-align: left;
			line-height: 22px;
			align-items: center;
			margin: 0;
			&:hover {
				border: 0;
				background: transparent;
				font-weight: $fw600;
				color: $color-b;
				.ui-checkboxradio-icon {
					border-color: #6667ab;
				}
			}
			.ui-checkboxradio-icon {
				margin: 3px;
				box-shadow: none;
				border: 2px solid #e5e5e5;
				border-radius: 2px;
				width: 18px;
				height: 18px;
				&.ui-state-checked {
					border-color: #6667ab;
					position: relative;
					background-color: unset;
					border: none;
					&::before {
						content: "";
						background: url(../img/svg/u_check-square.svg) no-repeat 50% 50%;
						position: absolute;
						height: 18px;
						width: 18px;
						right: 0;
						bottom: 0;
					}
				}
			}
			.ui-checkboxradio-icon-space {
				width: 8px;
			}
			.i-count {
				color: #a9a9a9;
				margin-left: 8px;
			}
		}
	}
	.f-select {
		display: flex;
	}
	.ui-selectmenu-button {
		flex: 1;
		font-weight: $fw600;
		max-width: 136px;
		@extend %txt;
		color: #777777;
		padding: 12px 8px 1px 8px;
		background: #ffffff;
		border: 1px solid #e5e5e5;
		&:first-of-type {
			margin-right: 8px;
		}
	}
}
//filter mobile
.filter-clear {
	@extend %txt;
	font-weight: $fw600;
	background: $color-w;
	border: 1px solid #d45279;
	border-radius: 24px;
	padding: 8px 12px;
	display: none;
}
.a-filter__main-titile {
	justify-content: space-between;
	padding-bottom: 8px;
	margin: 0 -12px;
	display: none;
	h2 {
		@extend %h2;
		font-weight: $fw600;
	}
}
.filter-result-info {
	text-align: center;
	text-align: center;
	margin: 0px -10px -10px -10px;
	display: none;
	.filter-result-txt {
		display: block;
		color: #777777;
		margin-bottom: 10px;
	}
}
.filter-close {
	font-weight: $fw700;
	@extend %txt;
	background: $color-w;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 8px;
	width: 100%;
}

//
.filter-item {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}
.filter-title {
	font-weight: $fw600;
	font-size: $fz20;
	line-height: 26px;
	padding: 8px 0;
}
.filter-list {
	max-height: 250px;
	overflow: auto;
	position: relative;
	input {
		font-weight: $fw600;
		@extend %txt;
		color: #777777;
		padding: 8px 32px 8px 8px;
		background: $color-w;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		width: 228px;
	}
	&.f-tags:after {
		font-family: "hapai";
		text-align: center;
		content: "\e928";
		color: #a9a9a9;
		position: absolute;
		right: 50px;
		bottom: 0;
		transform: translate(-50%, -50%);
		font-size: 20px;
	}
	&.f-range {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
	}
}
.fmoreButton {
	font-weight: $fw600;
	font-size: $fz16;
	line-height: 22px;
	color: #2360a5;
	padding: 8px 8px 8px 0;
	cursor: pointer;
}
.ui-autocomplete.f-tags-custom {
	max-height: 180px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 4px;
	border: 1px solid $color-f;
	font-weight: $fw600;
	font-size: $fz12;
	line-height: 17px;
}
.slide-group-input {
	font-weight: $fw600;
	max-width: 136px;
	@extend %txt;
	color: #777777;
	padding: 12px 8px 12px 8px;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

//
.f-price .ui-slider-horizontal {
	height: 4px;
	border: 1px solid $color-f;
	margin-left: 10px;
	margin-right: 3px;
	width: 100%;
	margin-top: 24px;
	margin-bottom: 4px;
	margin: 24px 3px 4px 10px;
}
.ui-slider-range.ui-widget-header {
	background: $color-f;
	height: 3px;
}
.f-price .ui-slider .ui-slider-handle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 3px solid $color-f;
	outline: 0;
}

//a-main
.a-main {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	padding: 20px 0 0 20px;
	gap: 20px 8px;
	overflow: hidden;
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.item-loop {
	padding: 8px;
	background: $color-w;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 8px;
	margin-bottom: 20px;
	min-width: 0;
	.a-main & {
		width: calc((100% - 16px) / 3);
	}
}
.item-loop__img {
	position: relative;
	margin-bottom: 8px;
}
.swiper-item-gallery {
	overflow: hidden;
	img {
		border-radius: 4px;
	}
}
.item-gallery-button {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	color: $color-w;
	transform: translate(-50%, -50%);
	display: inline-flex;
	width: calc(100% - 16px);
	justify-content: space-between;
}
.btn-item-swiper {
	background: rgba(0, 0, 0, 0.3);
	padding: 4px;
	margin: 0;
	border-radius: 4px;
	cursor: pointer;
	&.swiper-button-disabled {
		opacity: 0;
		pointer-events: none;
	}
}
.icon-right {
	transform: rotate(-90deg);
}
.icon-left {
	transform: rotate(90deg);
}
.btn-favor {
	position: absolute;
	right: 8px;
	bottom: 8px;
	z-index: 2;
	cursor: pointer;
}
.btn-favor[data-status="favorite"] i::before {
	content: "\e91a";
	color: #6667ab;
}
.icon-star {
	padding: 4px;
	background: $color-w;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	&::before {
		color: $color-f;
	}
}
.item-loop__txtblock {
	position: relative;
	display: flex;
	flex-direction: column;
	h3 {
		@extend %h3;
		font-weight: $fw700;
		color: $color-b;
	}
}
.il-param {
	display: flex;
	flex-wrap: wrap;
	padding: 8px 0 0 0;
	p {
		display: flex;
		flex: 1;
		flex-basis: 50%;
		@extend %txt-small;
		font-weight: $fw600;
		color: $color-b;
		margin-bottom: 8px;
		span {
			&::before {
				color: #ebc277;
				font-size: $fz20;
				margin-right: 4px;
			}
		}
	}
}
.il-price {
	display: inline-flex;
	align-items: baseline;
	font-weight: $fw600;
}
.il-price__full {
	@extend %h1;
	color: $color-f;
	margin-right: 4px;
}
.il-price__description {
	font-size: $fz12;
	line-height: 16px;
	color: #777777;
}
.il-price__action {
	display: flex;
	flex-direction: column;
	align-items: center;
	@extend %txt-small;
	font-weight: $fw600;
	color: $color-b;
	margin-top: 8px;
	padding: 4px;
	border-radius: 4px;
}
.il-time {
	font-weight: $fw700;
}
.on-sell {
	background: #fff8fb;
	border-radius: 4px;
	p {
		display: inline-flex;
		align-items: center;
		color: #d45279;
		line-height: 20px;
		.icon-time {
			&::before {
				font-size: $fz16;
				margin-right: 4px;
			}
		}
	}
}
.start-sell {
	background: #effcf5;
	border-radius: 4px;
	p {
		display: inline-flex;
		align-items: center;
		color: #0c8d47;
		line-height: 20px;
		.icon-time {
			&::before {
				font-size: $fz16;
				margin-right: 4px;
			}
		}
	}
}

//choice-help
.choice-help {
	background: #000 url(../img/bg-auction.jpeg) no-repeat center;
	background-size: cover;
	padding: 40px;
	color: $color-w;
	position: relative;
	border-radius: 12px;
	width: 100%;
	margin-bottom: 20px;
	img {
		position: absolute;
		top: 45%;
		transform: translate(0, -50%);
		right: -80px;
		max-width: 540px;
		width: auto;
	}
	.a-main & {
		overflow: hidden;
	}
}
.choice-help__b {
	max-width: 480px;
	h1 {
		@extend %h1;
		font-weight: $fw600;
		margin-bottom: 4px;
	}
	p {
		@extend %txt-big;
		margin-bottom: 20px;
	}
	span {
		display: block;
		width: 160px;
		text-align: center;
		background: $color-w;
		border-radius: 4px;
		padding: 14px;
		@extend %txt;
		font-weight: $fw700;
		color: $color-b;
	}
}

//qa-loop
.partners {
	margin: 60px 0;
	overflow: hidden;
	h1 {
		@extend %h1;
		font-weight: $fw600;
		margin-bottom: 20px;
		padding-right: 110px;
	}
}
.partners__title {
	position: relative;
}
.swiper__buttons {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
	position: absolute;
	width: max-content;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.btn__swiper {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: $fz24;
}

//footer
.footer__info {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}
.footer__caption {
	max-width: 159px;

	p {
		@extend %txt-small;
		color: #777777;
		opacity: 0.6;
		margin-top: 8px;
	}
}
.footer-nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	max-width: 768px;
}
.footer-nav__b {
	width: calc(100% / 3);
	li {
		margin-bottom: 8px;

		@extend %txt-small;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: $color-b;
		}
		&:hover {
			font-weight: $fw700;
			a {
				color: #777777;
			}
		}
	}
}
.footer-helpdesk {
	div {
		width: max-content;
		font-size: $fz24;
		line-height: 32px;
		font-weight: $fw600;
		padding: 8px 12px;
		border: 1px solid #e5e5e5;
		box-sizing: border-box;
		border-radius: 8px;
		&.number {
			margin-bottom: 8px;
		}
		a {
			color: $color-b;
		}
	}
	p {
		font-weight: $fw700;
		@extend %txt-small;
		color: #777777;
		margin-bottom: 8px;
	}
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
}
.regulation ul {
	display: flex;
	justify-content: space-between;
	li:first-child {
		margin-right: 20px;
	}
}
.footer-bottom,
.footer-bottom a {
	@extend %txt-small;
	color: #777777;
}
.copyright {
	opacity: 0.6;
}

//...............page item...............//
.main {
	flex: 1 0 auto;
	position: relative;
	overflow: hidden;
}
.ic-img {
	margin: 10px;
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
	}
}

//ic-main
.ic-main {
	position: relative;
	padding: 0;
	flex: 1 1 calc(50% - 20px);
	transition: 0.2s ease-in-out;
	background: $color-w;
}
.item-h2 {
	@extend %txt-big;
	font-weight: $fw700;
}
.ic-excerpt p {
	@extend %txt-big;
}
.ic-tags {
	margin: 8px 0 20px 0;
}
.ic-tags a {
	background: rgba(102, 103, 171, 0.15);
	border-radius: 4px;
	padding: 8px;
	color: $color-f;
	@extend %txt-small;
	font-weight: $fw700;
	margin-right: 8px;
}
.ic-middle {
	margin-bottom: 20px;
	padding: 20px 5px 20px 20px;
	margin-top: 25px;
}
.ic-bottom {
	padding: 20px;
}
.ic-quality {
	padding: 12px 64px;
	background: #effcf5;
	border-radius: 12px;
	margin-left: 20px;
	position: relative;
	.icon-check {
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translatey(-50%);
		background: #0c8d47;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 40px;
		&::before {
			color: $color-w;
			font-size: 24px;
		}
	}
}
.icq-head {
	font-weight: $fw700;
	@extend %txt-big;
}
.icq-card {
	p {
		@extend %txt-small;
		padding: 5px 0 20px 0;
	}
	.btn-style-0 {
		background: #ffffff;
		border-radius: 4px;
		padding: 8px 12px;
		font-weight: $fw700;
		color: $color-b;
		@extend %txt-small;
		max-width: 200px;
	}
}
.feature-row {
	display: flex;
	position: relative;
	font-weight: $fw400;
	@extend %txt-big;
	justify-content: space-between;
	padding: 8px 0;
}
.feature-col {
	color: #a9a9a9;
	flex: 1;
}
.feature-col2 {
	flex: 1;
	font-weight: $fw600;
	color: $color-b;
	display: inline-flex;
	justify-content: end;
	align-items: center;
	&.c-red:before {
		content: "";
		width: 16px;
		height: 16px;
		background: #dc5719;
		margin-right: 8px;
		border-radius: 2px;
	}
	i {
		margin-right: 6px;
	}
	&.help-tip {
		position: relative;
	}
}
.help-tip .help-tool {
	visibility: visible;
	opacity: 1;
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 5%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: rgba(102, 103, 171, 0.75) transparent transparent transparent;
	}
}
.help-tool {
	visibility: hidden;
	opacity: 0;
	background: rgba(102, 103, 171, 0.75);
	border-radius: 4px;
	color: $color-w;
	padding: 5px;
	position: absolute;
	z-index: 1;
	transition: opacity 0.3s;
	bottom: 110%;
	left: 0;
	max-width: 200px;
	@extend %txt-small;
	font-weight: $fw400;
}
.ic-top {
	display: flex;
	flex-wrap: wrap;
}
.feature {
	flex: 1;
	padding: 20px 20px 0 20px;
}

//ic-gallery
.ic-gallery {
	position: relative;
	padding: 0;
	flex: 1 1 calc(50% - 40px);
	overflow: hidden;
	margin: 0;
	transition: 0.2s ease-in-out;
	background: $color-w;
	max-width: 620px;
	margin-right: 20px;
	margin-top: 20px;
}
.ic-img-loop,
.ic-content {
	display: flex;
	position: relative;
}
.ic-img-loop {
	margin-left: -20px;
}
.geo-box {
	padding: 12px;
	background: #f5f6f8;
	border-radius: 8px;
}
.geo-card {
	padding: 0 0 0 48px;
	position: relative;
	i {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translatey(-50%);
		background: rgba(102, 103, 171, 0.15);
		border-radius: 8px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 32px;
		width: 32px;
	}
	.icon-point:before {
		color: $color-f;
		font-size: $fz24;
	}
	a {
		@extend %txt-small;
		text-decoration-line: underline;
		color: $color-f;
		font-weight: $fw600;
		display: block;
	}
}
.geo-title {
	font-weight: $fw600;
	@extend %txt-big;
	display: block;
}
.geo-row {
	margin-top: 34px;
}

//item-tabs
.item-tabs {
	display: flex;
	margin-bottom: 10px;
	background: #f5f5f5;
	border-radius: 4px;
}
.item-tab {
	@extend %txt-small;
	font-weight: $fw700;
	text-align: center;
	border-radius: 4px;
	color: #323232;
	padding: 10px;
	flex: 1;
	cursor: pointer;
	&:hover {
		background: $color-f;
		color: $color-w;
		margin: 2px 0;
	}
	&.active {
		color: $color-w;
		background: $color-f;
		cursor: unset;
		pointer-events: none;
		margin: 2px 0;
	}
}

.equ-col {
	@extend %txt-small;
	font-weight: $fw400;
	color: #777777;
	display: flex;
	flex-direction: column;
	margin: 8px;
	position: relative;
	flex: 1 1 calc(33% - 16px);
	overflow: hidden;
	min-width: 160px;
	.equ-head {
		font-weight: $fw700;
		color: $color-b;
	}
}
.equ-row {
	padding: 4px 0;
}
.tab-equ {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin: 0 -8px;
}
.tab-feature .feature-table {
	padding: 10px 0;
}
.f-table-row {
	display: flex;
	position: relative;
	font-weight: $fw400;
	@extend %txt-small;
	padding: 0;
	margin-bottom: 12px;
	color: #777777;
}
.f-table-col {
	font-weight: $fw700;
	color: $color-b;
	flex: 1;
	padding: 0 5px 0 0;
}
.f-table-col2 {
	flex: 1;
	padding: 0 5px 0 0;
}

#tab-view.ui-widget.ui-widget-content {
	border: 0;
}
#tab-view .ui-widget-header {
	border: 0;
	background: transparent;
	display: flex;
	justify-content: center;
}
#tab-view.ui-tabs .ui-tabs-nav li {
	float: unset;
	border: 0;
	background: transparent;
	margin: 0 16px;
	a {
		color: $color-b;
		padding: 8px 0 0 0;
		@extend %txt;
	}
	&.ui-tabs-active a {
		border-bottom: 1px solid;
	}
	&:hover a {
		border-bottom: 1px solid;
	}
}
#tab-view .ui-tabs-panel {
	text-align: center;
	img {
		max-width: 216px;
	}
}
.tab-view-legend {
	@extend %txt-small;
	text-align: center;
	color: #777777;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-tool {
	height: 12px;
	width: 12px;
	background-color: $color-f;
	border-radius: 50%;
	display: inline-block;
	margin: 0 4px;
}
.tab-view-img {
	margin: 0 auto;
	position: relative;
	max-width: 216px;
}
.circle-info {
	position: absolute;
	cursor: pointer;
	&.circle-info-1 {
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		span {
			right: 32px;
			top: -4px;
		}
	}
	&.circle-info-2 {
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	&.circle-info-3 {
		bottom: 8px;
		right: 22px;
	}
	.circle-number {
		@extend %txt-small;
		font-weight: $fw700;
		color: $color-w;
		background-color: $color-f;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&.circle-active span {
		display: block;
	}
	span {
		display: none;
		position: absolute;
		font-weight: $fw400;
		color: $color-b;
		padding: 8px;
		background: $color-w;
		border: 1px solid $color-f;
		box-sizing: border-box;
		border-radius: 8px;
		width: max-content;
		max-width: 140px;
		@extend %txt-small;
		margin: 4px;
	}
}

//auction-card
.auction-card {
	flex: 1;
	padding: 20px;
	border: 2px solid $color-f;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 20px;
	max-width: 310px;
	min-width: 310px;
	@extend %txt-big;
}
.ac-head {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
}
.ac-title {
	font-weight: $fw700;
	flex: 2;
	text-align: left;
}
.ac-code {
	font-weight: 600;
	flex: 1;
	text-align: right;
}
.ac-code i {
	margin-left: 6px;
}

.price-title {
	font-weight: $fw600;
}
.price {
	font-weight: $fw600;
	@extend %h1;
	text-align: center;
	color: $color-f;
}
.sub-price {
	text-align: center;
	color: #a9a9a9;
	margin-bottom: 14px;
}
.ac-time-active {
	font-weight: $fw600;
	margin-bottom: 4px;
	display: inline-flex;
	align-items: center;
	&.icon-time:before {
		margin-right: 10px;
		color: #d45279;
		font-size: $fz14;
	}
	span {
		font-family: "RF Dewi";
	}
}
.ac-time,
.ac-price,
.ac-quantity {
	width: 100%;
}
.ac-time {
	margin-bottom: 20px;
}
.price-spinner {
	padding-bottom: 20px;
	margin-top: 5px;
	min-height: 74px;
}
.btn-style-1 {
	padding: 11px 13px;
	color: $color-w;
	background: $color-f;
	border: 1px solid $color-f;
	&:hover {
		background: #4f4599;
	}
}
.price-bid {
	margin-bottom: 8px;
	.btn {
		width: 100%;
	}
}
.price-autobid {
	display: flex;
}
.btn-style-2 {
	padding: 11px 13px;
	color: $color-b;
	background: transparent;
	border: 1px solid #e5e5e5;
	&:hover {
		background: $color-b;
		color: $color-w;
	}
}
#showbtn.price-autobid {
	.btn-style-2 {
		width: 100%;
		border: 1px solid #e5e5e5;
		border-radius: 0;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	.btn-icon {
		border-radius: 0;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		padding: 15px;
		border: 1px solid #e5e5e5;
		border-left: 0;
		width: max-content;
		i {
			transition: 0.4s ease-in-out;
			&::before {
				color: #e1b573;
				font-size: 20px;
			}
		}
		&:hover {
			background: #e1b573;
			i {
				transform: scale(1.3);
				&::before {
					color: $color-w;
				}
			}
		}
	}
}
.icon-info {
	cursor: help;
	&:before {
		color: #e1b573;
		font-size: $fz16;
	}
}
.btn .icon-info {
	cursor: pointer;
}
.exit-ac {
	border-radius: 4px;
	padding: 15px;
	border: 2px solid #e5e5e5;
	margin-right: 8px;
	width: max-content;
	i {
		font-size: 24px;
	}
	&:hover {
		background: $color-b;
		border: 2px solid $color-b;
		i {
			transform: scale(1.2);
			color: $color-w;
		}
		&::before {
			color: $color-w;
		}
	}
}
.ac-code3 {
	font-weight: $fw600;
	flex: 1;
	text-align: right;
	color: #0c8d47;
}
.auction-card .ac-code3 {
	display: none;
}

// JQUERY UI SETTING
#auction-bar {
	height: 8px;
	border: 0;
	background: #e5e5e5;
	transition: 0.4s ease-in-out;
	.ui-widget-header {
		background: #d45279;
		border: 0;
	}
	&:hover {
		transform: scale(1.05);
	}
}

// auction
#showbtn0,
#showbtn1,
#showbtn1,
#showbtn2,
.auction-notification,
.autobid-box {
	display: none;
}
.auction-notification {
	font-weight: $fw400;
	@extend %txt-small;
	text-align: center;
}

// auction win
.auction-card.active-win .price {
	color: #0c8d47;
}
.auction-card.active-win .price-bid a {
	background: #f5f5f5;
	color: #a9a9a9;
	pointer-events: none;
	cursor: default;
	border: 2px solid transparent;
}
.auction-card.active-win .price-autobid a {
	color: #a9a9a9;
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}
.auction-card.active-win .price-spinner .input-group-prepend,
.auction-card.active-win .price-spinner .input-group-append {
	opacity: 0.3;
	pointer-events: none;
	cursor: default;
}
.auction-notification.win-auc {
	color: #0c8d47;
}
.auction-card.active-win .auction-notification.win-auc {
	display: block;
}

//auction lose
.auction-card.active-lose .price,
.auction-notification.lose-auc {
	color: #d45279;
}
.auction-card.active-lose .auction-notification.lose-auc {
	display: block;
}
.auction-card.active-lose.autobid-off .auction-notification.lose-auc {
	display: none;
}

// автоставка: максимальна ставка
.auction-card.active-lose.autobid-off .auction-notification.max-bid,
.auction-card.active-win.autobid-off .auction-notification.max-bid {
	display: none;
}
.auction-card.autobid-off .auction-notification.max-bid {
	display: block;
}
.auction-notification.max-bid {
	color: #777777;
}

// автоставка: виключена
.auction-card.autobid-off {
	justify-content: space-between;
	#showbtn {
		display: none;
	}
}
.auction-card.autobid-off .price-spinner .input-group-prepend,
.auction-card.autobid-off .price-spinner .input-group-append {
	opacity: 0.3;
	pointer-events: none;
	cursor: default;
}
.auction-card.autobid-off {
	justify-content: space-between;
}
.auction-card.autobid-off #showbtn1 {
	display: flex;
}

//автоставка: зміна
.auction-card.autobid-off.autobid-change .ac-code2 {
	display: none;
}
.auction-card.autobid-change #showbtn1 {
	display: none;
}
.auction-card.autobid-change .ac-code3 {
	display: block;
}
.auction-card.autobid-change.autobid-off #showbtn2 {
	display: flex;
}
.auction-card.autobid-change .price-spinner .input-group-prepend,
.auction-card.autobid-change .price-spinner .input-group-append {
	opacity: 1;
	pointer-events: initial;
	cursor: initial;
}

// автоставка: включена
.auction-card.autobid-on #showbtn0,
.auction-card.autobid-on .autobid-box {
	display: flex;
}
.auction-card.autobid-on #showbtn,
.auction-card.autobid-on #showbtn1,
.auction-card.autobid-on .price-bid {
	display: none;
}
.ac-code2 {
	color: #d45279;
}
.ac-textblock {
	font-weight: $fw400;
	@extend %txt;
	color: #424242;
	text-align: left;
}
.auction-card .ac-title2,
.auction-card .ac-code2,
.ac-textblock {
	display: none;
}
.auction-card.autobid-off .ac-title2,
.auction-card.autobid-off .ac-code2,
.auction-card.autobid-off .ac-textblock {
	display: block;
}
.auction-card.autobid-off .ac-time,
.auction-card.autobid-off .ac-price,
.auction-card.autobid-off .price-bid,
.auction-card.autobid-off .ac-title,
.auction-card.autobid-off .ac-code {
	display: none;
}
.ac-title2 {
	font-weight: $fw700;
	flex: 2;
	text-align: left;
}
.ac-code2 {
	font-weight: $fw600;
	flex: 1;
	text-align: right;
}

#autobidon,
#autobidsave {
	width: 100%;
}
.autobid-b-left {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	padding: 3px 12px;
}
.autobid-b-right {
	padding: 14px;
	background: #0c8d47;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 7px;
	i {
		border-radius: 50%;
		background: #18b031;
		color: $color-w;
		font-size: 24px;
	}
	&::before {
		content: "\e80d";
		font-size: 7px;
		line-height: 7px;
	}
}
.autobid-box {
	border: 1px solid #0c8d47;
	border-radius: 4px;
}
.autobid-in-up {
	@extend %txt-small;
	color: #777777;
}
.autobid-in-down {
	font-weight: $fw700;
	@extend %txt;
	color: $color-b;
}
#showbtn0 {
	gap: 8px;
	margin-top: 8px;
}
#showbtn0 a {
	flex: 1;
}
.input-group-prepend,
.input-group-append {
	display: block;
	position: relative;
	padding: 0;
}
.price-spinner .ui-spinner {
	display: inline-flex;
	align-items: center;
	width: 100%;
}
.ui-spinner-button {
	padding: 12px;
	margin: 0;
	position: relative;
	overflow: hidden;
	right: unset;
}
.ui-spinner a.ui-spinner-button {
	background: #f5f5f5;
	&::before {
		font-size: 24px;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	:hover {
		border-radius: 50%;
		&::before {
			transform: scale(1.2);
			transition: 0.4s ease-in-out;
		}
	}
}
.ui-spinner.ui-widget.ui-widget-content {
	border: 0;
}
.spinner-card {
	border: 1px solid #f1f1f1;
	background: $color-w;
	color: $color-b;
	padding: 2px 13px;
	margin: 0;
	font-size: $fz16;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.spinner-show {
	font-weight: $fw600;
}
.spinner-show2 {
	color: #a9a9a9;
	@extend %txt-small;
}
//popup
body.lock {
	overflow: hidden;
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
	overflow-y: auto;
	overflow-x: hidden;
	&.open {
		opacity: 1;
		visibility: visible;
		.popup__content {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}
}
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content {
	background: $color-w;
	color: $color-b;
	max-width: 800px;
	padding: 30px;
	position: relative;
	opacity: 0;
	transition: all 0.8s ease 0s;
	transform: translate(0px, -100%);
	h1 {
		margin: 0 30px 30px 0;
	}
}
.popup__close {
	position: absolute;
	top: 20px;
	right: 20px;

	.icon-fi_x {
		font-size: 32px;
		color: $color-b;
	}
}
//popup end

//blog
.news__main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 20px;
}
.news__item {
	position: relative;
	width: 295px;
	background: $color-w;
	padding: 20px 0;
	&:nth-child(9n + 3),
	&:nth-child(9n + 5),
	&:nth-child(9n + 7) {
		flex-basis: 600px;
	}
	img {
		margin-bottom: 8px;
		height: 204px;
		object-fit: cover;
		border-radius: 4px;
	}
}
.news__date {
	font-weight: $fw700;
	color: $color-f;
}
.news__info .news__date {
	margin-bottom: 4px !important;
}
.news__title {
	color: $color-b;
	font-weight: $fw700;
	margin-bottom: 4px;
}
.news__txt {
	color: #777777;
}
.news__button {
	display: block;
	color: $color-b;
	@extend %txt;
	font-weight: $fw700;
	padding: 8px 13px;
	background: $color-w;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 4px;
	max-width: 208px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}
//pagination
#pagination-container {
	padding: 60px 0;
}
.simple-pagination ul {
	padding: 0;
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: center;
}
.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
	a,
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-b;
		background: $color-w;
		width: 32px;
		height: 32px;
		border: 1px solid #e5e5e5;
		box-sizing: border-box;
		border-radius: 4px;
		text-decoration: none;
		position: relative;
	}
}
.simple-pagination .current {
	border: 1px solid $color-f;
	color: $color-f;
	&.prev,
	&.next {
		background: #f5f5f5;
		border: none;
		&::before {
			color: #a9a9a9;
		}
	}
}
.simple-pagination .prev::before,
.simple-pagination .next::before {
	content: "\e910";
	font-family: "hapai" !important;
	position: absolute;
	font-size: $fz20;
	top: 50%;
	left: 50%;
}
.simple-pagination .prev::before {
	transform: translate(-50%, -50%) rotate(90deg);
}
.simple-pagination .next::before {
	transform: translate(-50%, -50%) rotate(-90deg);
}

//article
.article {
	.news__date {
		margin-bottom: 20px;
	}
	h2 {
		margin-bottom: 6px;
		margin-top: 20px;
	}
	p {
		margin-bottom: 20px;
	}
}
.aticle-main .choice-help {
	margin: 40px 0;
	margin-right: 40px;
	width: auto;
	overflow: hidden;
}
.video-wrap {
	position: relative;
	padding-bottom: 56.25%; //задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%)
	height: 0px;
	overflow: hidden;
	margin-bottom: 20px;
}
.video-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	outline-width: 0;
}
.article-wrapper {
	display: flex;
	gap: 20px;
}
.article-sidebar {
	max-width: 295px;
	width: 100%;
	h3 {
		margin-bottom: 20px;
	}
	.news__item {
		padding: 0;
	}
}
.as-video-wrap {
	position: relative;
	margin-bottom: 8px;
}
.article__category,
.article__new {
	width: max-content;
	border-radius: 4px;
	padding: 2px 4px;
}
.article__group {
	top: 12px;
	position: absolute;
	left: 12px;
	@extend %txt-small;
	font-weight: $fw700;
	color: $color-w;
}
.article__new {
	background: #0c8d47;
	margin-bottom: 4px;
}
.article__category {
	background: #d45279;
}
video {
	width: 100%;
	height: 204px;
	border-radius: 4px;
	object-fit: cover;
	vertical-align: top;
}

//rating
.rating-wrap {
	margin-bottom: 14px;
	h3 {
		margin-bottom: 8px;
	}
}
.rating {
	display: flex;
	align-items: center;
	font-size: 40px;
	line-height: 0.75;
	transition: opacity 0.3s ease 0s;
}
.rating.rating_sending {
	opacity: 0.2;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
	cursor: pointer;
}

.rating__body {
	position: relative;
	display: flex;
}
.rating__body span::before {
	font-family: "hapai";
	content: "\e91b";
	color: #ebc277;
	font-size: 24px;
	display: block;
	padding: 10px;
}
.rating__active {
	display: flex;
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.rating__active span::before {
	font-family: "hapai";
	content: "\e91a";
	font-size: 24px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #ebc277;
}

.rating__items {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.rating__item {
	flex: 0 0 20%;
	padding: 8px;
	height: 100%;
	opacity: 0;
}
.rating__star {
	font-size: 20px;
	line-height: 28px;
	padding: 6px;
}

//reviews
.article {
	margin-bottom: 40px;
}
.reviews {
	max-width: 610px;
	margin-top: 20px;
}
.reviews__item {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
}
.reviews__info {
	display: flex;
	width: 100%;
}
.reviews__logo {
	position: relative;
	background: #f5f5f5;
	border-radius: 32px;
	padding: 18px 27px;
	width: max-content;
	height: max-content;
	margin-right: 20px;
}
.reviews__user-logo {
	@extend %h3;
	font-weight: $fw600;
	color: #a9a9a9;
}
.reviews-user-rating {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: $fw700;
	font-size: 8px;
	line-height: 12px;
	color: $color-w;
	padding: 2px;
	background: #ebc277;
	border-radius: 4px;
	width: max-content;
}
.reviews__user-name {
	font-weight: $fw700;
}
.reviews__date {
	color: $color-f;
	font-weight: $fw700;
	@extend %txt-small;
	margin-bottom: 4px;
}
.reviews__txt {
	width: 100%;
	p {
		color: #424242;
	}
}
.thumbs {
	display: flex;
	span::before {
		font-size: $fz24;
		padding: 8px;
		border: 1px solid #e5e5e5;
		box-sizing: border-box;
		border-radius: 20px;
		display: block;
	}
	.icon-u_thumbs-down {
		color: #d45279;
		margin-right: 8px;
	}
	.icon-u_thumbs-up {
		color: #0c8d47;
	}
}
.thumb-active {
	&::before {
		color: $color-w;
	}
	&.icon-u_thumbs-down::before {
		background: #d45279;
	}
	&.icon-u_thumbs-up::before {
		background: #0c8d47;
	}
}
.form-reviews {
	textarea {
		height: 96px;
		padding: 12px;
		background: #f5f5f5;
		border-radius: 12px;
		width: 100%;
		margin-bottom: 8px;
		resize: none;
		&:hover {
			background-color: #fafafa;
		}
	}
	button {
		max-width: 160px;
	}
}
.article__swiper {
	padding: 20px 0;
	margin-bottom: 60px;
}
.other-article {
	h1 {
		padding-top: 20px;
	}
	.news__item {
		padding: 0;
		width: 100%;
	}
}
.article-page .title-item h1 {
	padding: 0;
}
//index........................................................................................
.top-banner-search {
	.choice-help {
		margin-bottom: 40px;
	}
	.choice-help__b {
		max-width: 100%;
	}
	.select {
		display: block;
		width: auto;
		position: relative;
		margin-right: 8px;
	}

	.new-select {
		position: relative;
		cursor: pointer;
		user-select: none;
		padding: 12px 32px 12px 12px;
		background: $color-w;
		color: #777777;
		border: 1px solid #e5e5e5;
		box-sizing: border-box;
		border-radius: 4px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: 120px;
	}
	.new-select__list {
		position: absolute;
		top: 45px;
		left: 0;
		border: 1px solid #ced4da;
		cursor: pointer;
		width: 100%;
		z-index: 2;
		background: #fff;
		user-select: none;
		max-height: 220px;
		overflow: scroll;
	}
	.new-select__list.on {
		display: block;
	}
	.new-select__item span {
		display: block;
		padding: 12px;
		width: 100%;
		color: #777777;
		font-weight: $fw400;
		text-align: left;
	}
	.new-select__item span:hover {
		background: $color-f;
		color: $color-w;
	}
	.new-select:after {
		content: "\e910";
		font-family: "hapai";
		font-size: $fz24;
		display: block;
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translate(0, -50%) rotate(0deg);
		transition: all 0.27s ease-in-out;
	}
	.new-select.on:after {
		transform: translate(0, -50%) rotate(180deg);
	}
	.btn-style-3 {
		min-width: 160px;
		width: max-content;
	}
	.choice-help img {
		top: 50%;
		transform: translate(0, -50%);
		right: -10px;
		max-width: 470px;
	}
}
.choice-help__search-main {
	display: flex;
	background: $color-w;
	border-radius: 8px;
	padding: 20px;
	width: max-content;
}
.btn-style-3 {
	padding: 13px 14px;
	color: $color-w;
	background: #e089b7;
	border: 1px solid #e089b7;
	&:hover {
		background: #d45279;
	}
}
.img-wrap {
	height: 100%;
	width: 450px;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}
.car-style {
	padding-top: 84px;
	padding-bottom: 76px;
	h1 {
		margin-bottom: 20px;
	}
}
.car-style__swiper {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
}
.car-style__item {
	height: 160px;
	padding: 12px;
	background: $color-w;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 8px;
	color: $color-b;
	overflow: hidden;
	.car-style__img {
		position: relative;
		img {
			position: absolute;
			object-fit: cover;
			top: 0;
			height: 106px;
			left: 50%;
			transform: translate(-50%, 0%);
		}
	}
	&.car-style__economic img {
		transform: translate(-50%, 0%) scaleX(-1);
	}
}

.car-style__name {
	display: flex;
	span {
		font-size: $fz20;
		color: $color-f;
		padding: 4px;
		background: #dfe0ed;
		border-radius: 4px;
		margin-right: 8px;
	}
}
.active-auction {
	margin-bottom: 0;
}
.car-style__button {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 20px 0;
	.btn {
		max-width: 208px;
	}
}

//why
.why__wrap {
	display: flex;
	gap: 20px;
	padding: 20px 0;
	margin-bottom: 60px;
}
.why__item {
	padding: 20px;
	background: #f5f6f8;
	border-radius: 12px;
	width: calc(100% / 3);
	span {
		font-size: 24px;
		padding: 16px;
		color: $color-f;
		background: rgba(102, 103, 171, 0.15);
		border-radius: 8px;
		display: block;
		width: max-content;
		margin-bottom: 12px;
	}
	h3 {
		font-weight: $fw600;
		margin-bottom: 12px;
	}
	p {
		color: #777777;
	}
}
.ch-car-brand__wrap {
	display: flex;
	flex-wrap: wrap;
}
.ch-car-brand__item {
	display: flex;
	padding: 12px 14px;
	margin: 8px;
	background: $color-w;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 8px;
	width: calc((100% / 4) - 16px);
	color: $color-b;
	img {
		height: auto;
		width: 72px;
		object-fit: contain;
		margin: -12px 0;
		margin-right: 16px;
	}
}
.ch-car-brand__info p {
	@extend %txt-big;
	color: #777777;
}
//.............................................................................................
/* mobile */
@media only screen and (max-width: 1279px) {
	.nav-menu__item {
		margin: 0 4px;
		.nav-menu__link {
			padding: 12px;
		}
	}
	.ic-top {
		flex-direction: column;
	}
	.auction-card {
		margin-left: 20px;
	}
	.geo-row {
		max-width: 310px;
	}
	//blog page
	.news__item {
		flex-basis: auto !important;
		flex-grow: 1;
		&:nth-child(9n + 3),
		&:nth-child(9n + 5),
		&:nth-child(9n + 7) {
			flex: 0 1 100%;
		}
	}
	.choice-help__search-main {
		max-width: 560px;
		flex-wrap: wrap;
		justify-content: space-between;
		.select:nth-child(4) {
			margin-right: 0;
		}
	}
	.top-banner-search .btn-style-3 {
		width: 100%;
		margin-top: 20px;
	}
	.img-wrap {
		width: 350px;
	}
	.top-banner-search .choice-help img {
		right: -110px;
	}
	.car-style__swiper {
		margin: 0 -20px;
		padding-right: 40px;
		.swiper-wrapper {
			padding-left: 20px;
		}
	}
	.choice-help img {
		top: 55%;
		transform: translate(0%, -50%);
		right: -200px;
	}
	.choice-help__b {
		padding-right: 110px;
	}
	.article__swiper {
		margin: 0 -20px;
		padding-right: 40px;
		> .swiper-wrapper {
			padding-left: 20px;
		}
	}
}
@media (min-width: 993px) and (max-width: 1279px) {
	.a-main .item-loop {
		width: calc((100% - 8px) / 2);
	}
}
@media only screen and (min-width: 993px) {
	.ic-content,
	.ic-img-loop {
		flex-wrap: wrap;
	}
	.ic-gallery .item-gallery-button {
		display: none;
	}
	.ic-img {
		flex: 1 1 calc(50% - 40px);
		&:first-child {
			width: 100%;
			max-width: 100%;
			flex-basis: 100%;
		}
		&:nth-child(n + 7) {
			display: none;
		}
		&:nth-last-child(-n + 2) {
			display: block;
			h4 {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				color: $color-w;
				transform: translate(-50%, -50%);
				text-align: center;
				max-width: 104px;
			}
			img {
				filter: brightness(0.4);
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	.container {
		padding: 0px 12px;
	}
	.logo img,
	.footer__caption {
		max-width: 100%;
	}
	.logo img,
	.footer__caption img {
		max-width: 113px;
	}
	//mobile menu
	.header-menu {
		&.active {
			.language-m {
				display: flex !important;
				align-items: center;
				position: absolute;
				z-index: 3;
				top: 20px;
				right: 15px;
				margin: 0;
			}
		}
	}
	.nav-menu__item ul {
		padding-top: 30px;
	}
	.menu-btn {
		width: 100%;
		max-width: 24px;
		height: 24px;
		position: relative;
		z-index: 4;
		overflow: hidden;
		margin-right: 20px;
		span {
			width: 18px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-b;
			transition: all 0.5s;
			&:nth-of-type(2) {
				top: calc(50% - 5px);
			}
			&:nth-of-type(3) {
				top: calc(50% + 5px);
			}
		}
		//hamburger icon open
		&.active {
			position: fixed;
			span {
				&:nth-of-type(1) {
					display: none;
				}
				&:nth-of-type(2) {
					top: 50%;
					transform: translate(-50%, 0%) rotate(45deg);
				}
				&:nth-of-type(3) {
					top: 50%;
					transform: translate(-50%, 0%) rotate(-45deg);
				}
			}
		}
	}
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		background: $color-w;
		transform: translateX(-100%);
		transition: transform 0.5s;
		z-index: 3;
		.nav-menu {
			position: relative;
			flex-direction: column;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
		&.active {
			//active menu
			transform: translateX(0);
			.right-menu {
				position: absolute;
			}
		}
	}
	.navigation {
		justify-content: flex-end;
	}
	.a-main {
		padding: 20px 0 0 0;
	}
	.a-sidebar,
	.sort-mode,
	.filter-result-v,
	.filter-result-txt {
		display: none;
	}
	.user-profile {
		span:last-child {
			display: none;
		}
		a {
			padding-right: 0;
		}
	}
	.right-menu {
		position: relative;
		right: -12px;
		top: 0;
		&:nth-child(2) a {
			padding-right: 0;
		}
	}
	.language {
		display: none !important;
	}
	.icon-u_user-circle {
		margin-right: 0;
	}

	.filter-result .btn {
		display: block;
		max-width: 204px;
		text-align: center;
		font-weight: $fw600;
		position: relative;
		padding-left: 48px;
		margin-right: 8px;
		background: $color-f;
		color: $color-w;
		padding: 12px;
		&::before {
			content: "\e906";
			position: absolute;
			left: 14px;
			top: 50%;
			transform: translateY(-50%);
			font-family: "hapai";
			font-size: 24px;
			color: $color-w;
		}
	}

	//a-sidebar mobile filter
	.a-sidebar {
		display: block;
		position: absolute;
		z-index: 4;
		position: fixed;
		overflow: scroll;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 320px;
		max-width: 320px;
		height: 100%;
		padding: 20px;
		background: #ffffff;
		transform: translateX(-100%);
		transition: transform 0.5s;
	}
	.a-sidebar.active {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		.filter-clear,
		.filter-result-info {
			display: block;
		}
		.a-filter__main-titile {
			display: flex;
		}
		.a-filter {
			padding: 0;
			border-bottom: 1px solid #e5e5e5;
		}
	}
	.footer-nav {
		padding-left: 40px;
	}
	.ic-content {
		flex-direction: column;
	}
	.ic-top {
		flex-direction: row;
	}
	.feature,
	.ic-middle {
		padding-left: 0;
	}
	.ic-quality {
		margin-left: 0;
	}
	.ic-bottom {
		padding: 20px 0;
	}
	.ic-img {
		margin: 0;
	}
	.ic-img-loop {
		margin-left: 0;
		max-height: 400px;
	}
	.ic-gallery {
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.item-gallery-button {
		display: flex;
	}
	.ic-gallery .ic-img:last-child {
		display: none;
	}
	.ic-img img {
		object-fit: cover;
		max-height: 400px;
	}
	.car-style__swiper {
		margin-right: -20px;
	}
	.partners h1,
	.other-article h1 {
		font-size: 24px;
		line-height: 32px;
	}
}
@media only screen and (max-width: 991px) {
	.a-main {
		justify-content: center;
		.item-loop {
			width: calc((100% - 8px) / 2);
			max-width: 380px;
		}
	}
	.choice-help img {
		right: -160px;
	}
	.choice-help__b {
		padding-right: 60px;
	}
	.footer-nav {
		flex-wrap: wrap;
		gap: 20px;
	}
	.article-sidebar {
		display: none;
	}
	.aticle-main .choice-help {
		margin-right: 0;
	}
	.choice-help__search-main {
		max-width: 400px;
		display: flex;
		gap: 20px;
	}
	.img-wrap {
		width: 280px;
	}
	.top-banner-search .choice-help img {
		right: -180px;
	}
	.top-banner-search .new-select {
		width: 100%;
	}
	.top-banner-search .select {
		margin-right: 0;
		width: calc((100% / 2) - 10px);
	}
	.top-banner-search .btn-style-3 {
		margin-top: 0;
	}
}
@media only screen and (max-width: 767px) {
	.choice-help img {
		transform: translate(-10%, -35%);
		max-width: 420px;
	}
	.footer__info,
	.footer-nav,
	.regulation ul {
		flex-direction: column;
	}
	.footer-nav {
		padding-left: 0;
		gap: 0;
	}
	.footer__caption {
		margin-bottom: 20px;
	}
	.footer-nav__b {
		margin-bottom: 20px;
		width: 100%;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.footer-bottom {
		flex-direction: column-reverse;
	}
	.regulation {
		padding: 8px 0 20px 0;
		border-bottom: 1px solid #e5e5e5;
		ul {
			display: flex;
			gap: 20px;
		}
	}
	.copyright {
		padding-top: 12px;
	}
	.ic-gallery {
		margin-right: 0;
	}
	.partners__swiper {
		margin: 0 -12px;
		padding-right: 24px;
		> .swiper-wrapper {
			padding-left: 12px;
		}
	}
	.img-wrap {
		display: none;
	}
	.top-banner-search .choice-help__b {
		padding-right: 0;
	}
	.choice-help__search-main {
		max-width: 100%;
		width: auto;
	}
	.top-banner-search {
		margin: 0 -12px;
	}
	.partners {
		margin: 32px 0;
	}
	.partners h1 {
		margin-bottom: 12px;
	}
	.article {
		margin-bottom: 12px;
	}
	.article__swiper {
		margin-bottom: 32px;
	}
	.car-style {
		padding-top: 12px;
		padding-bottom: 32px;
	}
	.item-loop {
		margin-bottom: 12px;
	}
}
@media only screen and (min-width: 680px) {
}
@media only screen and (max-width: 679px) {
}
@media only screen and (max-width: 639px) {
	.user-profile span:last-child {
		display: none;
	}
	.title-item {
		margin: 0 0 20px 0;
	}
	.title-item__b {
		display: flex;
		flex-direction: column;
		h3 {
			position: unset;
		}
	}
	.a-main {
		padding: 12px 0 0 0;
		gap: 12px 8px;
		.item-loop {
			width: 100%;
			margin-bottom: 12px;
		}
	}
	.choice-help {
		margin: 32px 0;
		img {
			display: none;
		}
	}
	.choice-help__b {
		padding-right: 0;
		p {
			margin-bottom: 60px;
		}
	}
	.ic-top {
		flex-direction: column;
	}
	.auction-card {
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 32px;
	}
	.circle-info.circle-info-1 span {
		left: 32px;
		top: -4px;
	}
	.ic-img-loop,
	.ic-img img {
		height: 244px;
	}
	.feature {
		order: 1;
		padding: 12px 0;
	}
	.geo-row {
		margin-top: 12px;
	}
	.news__main {
		gap: 32px;
		margin-bottom: 32px;
	}
	.news__item {
		flex-basis: 100% !important;
		padding: 0;
	}
	#pagination-container {
		padding: 32px 0;
	}
	.article {
		.news__date {
			margin-bottom: 12px;
		}
		h2 {
			margin-top: 32px;
		}
		p {
			margin-bottom: 12px;
		}
	}
	.aticle-main .choice-help {
		margin: 32px 0;
	}
	.reviews {
		margin-bottom: 0;
	}
	.rating-wrap {
		margin-bottom: 20px;
		h3 {
			padding-top: 16px;
		}
	}
	.reviews__info {
		flex-direction: column;
	}
	.reviews__item {
		border: none;
		padding: 0;
		padding-bottom: 12px;
	}
	.reviews__write {
		padding-top: 20px;
		margin-top: 8px;
		border-top: 1px solid #e5e5e5;
	}
	.partners__swiper {
		margin-right: -12px;
	}
	.top-banner-search .choice-help {
		padding: 24px 12px;
		margin: 0;
		border-radius: unset;
	}
	.top-banner-search .choice-help__b p {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 479px) {
	.header-menu {
		padding: 12px 0;
	}
	.header-search {
		padding: 12px 0;
	}
	.breadcrumb {
		margin: 0;
	}
	.icon-u_user-circle {
		margin-right: 0;
	}
	.btn-seacrh {
		max-width: 104px;
	}
	.filter-result .btn {
		max-width: 164px;
	}
	.filter-sort-box {
		min-width: 164px;
	}
	.ui-menu .ui-menu-item-wrapper {
		font-size: 14px;
	}
	.circle-info.circle-info-3 span {
		right: 32px;
		top: -4px;
	}
	.car-style__button .btn {
		padding: 11px 8px;
	}
}
@media only screen and (max-width: 360px) {
}
@media (min-width: 1024px) and (max-width: 1239px) {
}
@media (min-width: 768px) and (max-width: 1239px) {
}
